/storage/app/private/
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/vendor
.env*
!.env.example
.env.backup
.env.production
.phpactor.json
/.phpunit.cache
/phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed

# Tambahan untuk mencegah file sampah sistem operasi ikut ter-upload
Thumbs.db
Desktop.ini
ehthumbs.db
.DS_Store